*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.contact {
  font-style: normal;
}
